<app-menu></app-menu>

    <div class="wrapper">
        <button class="btn btn-light esp btn-circle btn-xl" routerLink="/usuarios"><i class='fa fa-reply fa-lg'></i></button>
        <div class="container">
            <div class="jumbotron">
                <hr class="my-4">
                <h1 class="display-4 text-center">Selecciona el rol de Usuario</h1>
                <hr class="my-4">
                <div class="abs-center">
                    <button class="btn btn-dark esp btn-xl" title="Usuario Admin" routerLink="/usuarios/nuevo/admin">
                        <i class='fas fa-user-plus fa-lg'></i> NUEVO USUARIO ADMIN</button>
                    <button class="btn btn-dark esp btn-xl" title="Usuario SIC" routerLink="/usuarios/nuevo/sic">
                        <i class='fas fa-user-plus fa-lg'></i> NUEVO USUARIO SIC</button>
                    <button class="btn btn-dark esp btn-xl" title="Usuario SP" routerLink="/usuarios/nuevo/sp">
                        <i class='fas fa-user-plus fa-lg'></i> NUEVO USUARIO SP</button>
                    <button class="btn btn-dark esp btn-xl" title="Usuario PAMEC" routerLink="/usuarios/nuevo/pamec">
                        <i class='fas fa-user-plus fa-lg'></i> NUEVO USUARIO PAMEC</button>
                    <button class="btn btn-dark esp btn-xl" title="Usuario RES" routerLink="/usuarios/nuevo/reso">
                        <i class='fas fa-user-plus fa-lg'></i> NUEVO USUARIO RES 3100</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Div Container-->

<app-footer></app-footer>