.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

.table-title {
    padding-bottom: 15px;
    background: #343a40;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

/*BORDER A TD*/
.borderVertical{
    padding-left: 1rem;
    border-left: 1px solid black;
}

.borderHorizontal{
    border-bottom: 1px solid black;
}

/*CENTRAR NRO*/
table td.num{
    font-size: 20px;
    padding-left: 3rem;
}

table tr:hover td{background:#ecf0f1;}


.size {
    margin-right: 2rem;
    margin-left: 2rem;
}

table td{
    text-align: justify;
    color: black;
    font-weight: normal;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-top: auto;
}

table th{
    font-size: 25px;
}

textarea {
    resize: none;
    height: 10rem;
    width: 390px;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: justify;
}

/*ESTILOS FORMULARIO EVALUACION*/
.titulo {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
}

.nro {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.select {
    margin-top: 0.5rem;
}

.sp_title {
    padding-left: 2rem;
}

.size {
    max-width: 1812px;
}



.grid-container {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    grid-gap: 5rem 2rem;
    column-gap: 3.125rem;
}

.grid-container-title {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    grid-gap: 0 1rem;

}

.grid-boton {
    display: grid;
    max-width: 30%;
    grid-template-columns: minmax(0, auto) minmax(0, auto);
    align-content: center;
    justify-content: center;
}

.container_head {
    display: flex;
    max-width: 100%;
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
}


.grid-ind {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-template-rows: auto;

    padding-bottom: 3rem;
}



.ind_title {
    text-align: end;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.botones {
    max-width: auto;
    padding-left: 3rem;

}

.add {
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.sp {
    padding-right: 2.2rem;
}

.t2 {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #d6035b;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}