<app-menu></app-menu>

<div class="container">
    <h1 class="text-center">SEGURIDAD DEL PACIENTE</h1>
</div>

<div class="t2">
    <h2>CUMPLIMIENTO DEL PROGRAMA DE SEGURIDAD DEL PACIENTE
        PROFESIONALES INDEPENDIENTES</h2>
</div>

<div class="container">
    <div class="table-wrapper" id="dominio">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h5><b>Prestador:</b></h5>
                    <span id="nombre-prestador"></span>
                </div>
                <div class="col-sm-7"></div>
            </div>
        </div>
        
        <h4>{{Etapa1}}</h4>
        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Cumplimiento</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta1 of criterioIndEtapa1; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta1.cri_nombre}}</td>
                    <td>{{criterioIndEta1.cri_verificacion}}</td>
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">
        
        <h4>{{Etapa2}}</h4>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Cumplimiento</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta2 of criterioIndEtapa2; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta2.cri_nombre}}</td>
                    <td>{{criterioIndEta2.cri_verificacion}}</td>
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">

        <h4>{{Etapa3}}</h4>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Cumplimiento</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta3 of criterioIndEtapa3; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta3.cri_nombre}}</td>
                    <td>{{criterioIndEta3.cri_verificacion}}</td>
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">

        <h4>{{Etapa4}}</h4>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Cumplimiento</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta4 of criterioIndEtapa4; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta4.cri_nombre}}</td>
                    <td>{{criterioIndEta4.cri_verificacion}}</td>
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">

        <!-- <ng-template #modalTemplate>
            <app-modalsic [dataFromParent]="modalRef"></app-modalsic>
        </ng-template> -->



        <div class="row">
            <div class="col-md-1">
                <button id="boton-evaluacion-sic" class="btn btn-dark " title="Guardar" type="submit">
                    <i class='fa fa-save fa-lg'></i>
                </button>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>