<app-menu></app-menu>
<div class="grid-container">
    <button class="btn btn-light esp btn-circle btn-xl" routerLink="/sp">
        <i class="fa fa-reply fa-lg"></i>
    </button>
    <h1 class="text-center">Seguridad del Paciente - Profesionales Independientes</h1>
</div>

<div class="wrapper">

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-10">
                        <h2><b>Evaluaciones Realizadas - Pendientes</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-wrapper table-hover">
                <thead>
                    <tr>
                        <th scope="col">Prestador</th>
                        <th scope="col"></th>
                        <!-- <th scope="col"></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CLINICA AYNAN LTDA</td>
                        <td>
                            <span class="fas fa-clipboard-check"></span>
                        </td>
                        <!-- <td>
                            <span class="fa fa-pie-chart"></span>
                        </td> -->
                    </tr>
                    <tr>
                        <td>ASOCIACION IPS INDIGENA INGA KAMENTSA</td>
                        <!-- <td>
                            <span class="fas fa-clipboard-check"></span>
                        </td> -->
                        <td>
                            <span class="fas fa-sync"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <app-footer></app-footer>