/*BORDES AL CANVAS*/
#signatureCanvas {
    border: 1px solid black;
    /* Agrega un borde sólido de 1 píxel de ancho con color negro */
    border-radius: 5px;
    /* Opcional: agrega bordes redondeados para dar un aspecto más suave */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Opcional: agrega una sombra para resaltar el canvas */
}

/*Estilo a Span Boton Borrar Firma y Agregar Firma*/
.button-like {
    display: inline-block;
    padding: 8px 16px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-like:hover {
    background-color: #3d4347;
}