<app-menu></app-menu>
<div class="grid-container">
    <button class="btn btn-light esp btn-circle btn-xl" routerLink="/reso">
        <i class="fa fa-reply fa-lg"></i>
    </button>
    <h1>Resolución 3100 de 2019</h1>
</div>
<div>
    <h3>Selecciona el Prestador</h3>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="col-sm-10">
                <h5><b>PRESTADOR DE SERVICIO DE SALUD:</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <h5><b> Municipio:</b></h5>
                <select id="mun_id" name="mun_id" class="form-select form-control" (change)="cargarPrestadoresByMun()">
                    <option hidden selected>Selecciona un Municipio...</option>
                    <option *ngFor="let municipio of municipio" value="{{municipio.mun_id}}">{{municipio.mun_nombre}}</option>
                </select>
            </div>
            
            <div class="col-md-6">
                <h5><b> Prestador:</b></h5>
                <select id="prestador" name="prestador" class="form-select form-control">
                    <option hidden selected>Selecciona un Prestador...</option>
                    <option *ngFor="let prestador of prestador" value="{{prestador.pre_cod_habilitacion}}">{{prestador.pre_nombre}}
                    </option>
                </select>
            </div>
        </div>
    </div>


</div>



<div class="wrapper">

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-10">
                        <h5><b>VERIFICACIÓN DE CUMPLIMIENTO DE CONDICIONES DE HABILITACIÓN</b></h5>
                    </div>
                </div>
            </div>
            <table class="table table-wrapper table-hover">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <td routerLink="/lista-verificacion"><strong>1.</strong> SERVICIOS VERIFICADOS Y CAPACIDAD
                            INSTALADA</td>
                    </tr>
                    <tr>
                        <td routerLink="/lista-verificacion"><strong>2.</strong> CONDICIONES DE CAPACIDAD TECNICO ADMINISTRATIVAS </td>
                    </tr>
                    <tr>
                        <td routerLink="/lista-verificacion"><strong>3.</strong> CONDICIONES DE CAPACIDAD TECNOLOGICA Y CIENTIFICA </td>
                    </tr>
                    <tr>
                        <td routerLink="/lista-verificacion"><strong>4.</strong> CONDICIONES DE CAPACIDAD TECNICO ADMINISTRATIVAS </td>
                    </tr>
                    <tr>
                        <td routerLink="/lista-verificacion"><strong>5.</strong> CONCLUSIONES Y RECOMENDACIONES </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <app-footer></app-footer>