<app-menu></app-menu>
<div class="col">
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-light esp btn-circle btn-xl" routerLink="/reso/lista-verificacion">
                <i class="fa fa-reply fa-lg"></i>
            </button>
        </div>
        <div class="col-md-10">
            <h1>Resolución 3100 de 2019 - Servicios Verificados y Capacidad Instalada</h1>
        </div>
    </div>
    <div>
    </div>
</div>


<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h5><b>Prestador:</b></h5>
                    <span id="pre_nombre">NOMBRE DEL PRESTADOR DEL ACTA DE VERIFICACION ASIGNADA</span>
                </div>
                <div class="col-sm-6">
                    <h5><b>Municipio:</b></h5>
                    <span id="mun_nombre">Municipio</span>
                </div>

                <div class="col-sm-12" style="padding-top: 2rem;">
                    <h2><b>1. Servicios Verificados:</b></h2>
                    <span id="eta_nombre"></span>
                </div>
            </div>
        </div>

        <table class="table table-wrapper table-hover">
            <thead>
                <th>No.</th>
                <th>CODIGO</th>
                <th>GRUPO</th>
                <th>NOMBRE DE SERVICIO</th>
                <th>MODALIDAD</th>
                <th>COMPLEJIDAD</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>1.</strong></td>
                    <td>304</td>
                    <td>Consulta Externa</td>
                    <td>Cirugía General</td>
                    <td>Intramural</td>
                    <td>Mediana</td>
                </tr>

            </tbody>
        </table>


        <div class="table-title">
            <div class="col-sm-12">
                <h2><b>2. Capacidad Instalada:</b></h2>
                <span id="eta_nombre"></span>
            </div>
        </div>


        <hr>


    </div>
</div>


<app-footer></app-footer>