<app-menu></app-menu>

<div class="col">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-light esp btn-circle btn-xl" routerLink="/home-estandar">
                <i class="fa fa-reply fa-lg"></i>
            </button>
        </div>
        <div class="col-md-8">

            <h1 class="text-center">TODOS LOS SERVICIOS</h1>
            <h2 class="text-center">CONDICIONES DE HABILITACIÓN RESOLUCIÓN 3100/2019</h2>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <table class="table table-wrapper text-center table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 50%;"></th>
                <th scope="col">Total Cumple</th>
                <th scope="col">Total No Cumple</th>
                <th scope="col">Total No Aplica</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Número de Criterios Evaluados</th>
                <td>#</td>
                <td>#</td>
                <td>#</td>
            </tr>
            <tr>
                <th scope="row">Cmplimiento del Servicio Evaluado</th>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
<app-footer></app-footer>