<app-menu></app-menu>

<div class="wrapper">
    <div class="container">
        <div class="jumbotron">
            <hr class="my-4">
            <h1 class="display-4 text-center">Evaluación de Seguridad del Paciente - Instituciones Prestadoras de
                Servicios de Salud</h1>
            <hr class="my-4">

            <div class="grid-prestador">
                <h5>Prestador:</h5>
                <span id="nombre-prestador"> PROFESIONALES EN INSTRUMENTOS PARA LA SALUD Y MEDICINA HUMANA APLICADAS
                    S.A.S PRISMHA S.A.S.</span>
            </div>
            <hr class="my-4">

            <div class="botones-grid">
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    1. EVALUACION DE HERRAMIENTAS PARA LA IDENTIFICACIÓN Y GESTIÓN DE EVENTOS ADVERSO</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    2. MONITORIZACIÓN DE ASPECTOS RELACIONADOS CON LA SEGURIDAD DEL PACIENTE</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    3. DETECCIÓN, PREVENCIÓN Y CONTROL DE INFECCIONES ASOCIADAS AL CUIDADO</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    4. USO SEGURO DE MEDICAMENTOS</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    5. ASEGURAR LA CORRECTA IDENTIFICACIÓN DE PACIENTES</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    6. GARANTIZAR LA ATENCIÓN SEGURA DE LA MADRE Y EL RECIEN NACIDO</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    7. MEJORAR LA SEGURIDAD EN LOS PROCEDIMIENTOS QUIRURGICOS</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    8. PREVENCIÓN DE ULCERAS POR PRESIÓN</button>
                <button class="btn btn-dark esp btn-xl" routerLink="/">
                    9. PROCESOS PARA LA PREVENCIÓN Y REDUCCIÓN DE LA FRECUENCIA DE CAÍDA</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Div Container-->

<app-footer></app-footer>