<app-menu></app-menu>

<div class="container">
  <h1 class="text-center">Sistema de Información para la Cálidad</h1>
</div>

<div class="t2">
  <h2>INDICADORES PARA EL MONITOREO DE LA CALIDAD/PRESTADORES DE SERVICIOS
    ACTA DE VERIFICACION Y SEGUIMIENTO
  </h2>
</div>

<div class="container" >
  <div class="table-wrapper" id="dominio">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8">
          <h5><b>Prestador:</b></h5>
          <span id="nombre-prestador"></span>
        </div>
        <div class="col-sm-7">
        </div>
      </div>
    </div>
    <form action="">
      <div class="grid-container">
        <span class="titulo">Nro.</span>
        <span class="titulo">Criterios</span>
        <span class="titulo sp_title">Cumplimiento</span>
        <span class="titulo">Observaciones</span>
      </div>
      <hr>
      <div class="grid-container">
        <p class="nro">1</p>
        <p align="left">
          ¿Existe en la entidad un
          funcionario o funcionarios
          responsables de la
          coordinación de los procesos
          del Sistema de Información
          para la calidad, con funciones
          claramente definidas?
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>


        <p class="nro">2</p>
        <p align="left">
          ¿Se ha hecho socialización de
          las normas que reglamentan el
          Sistema de Información para la
          calidad (Resolución 256 del 05
          de febrero de 2016)
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <p class="nro">3</p>
        <p align="left">
          ¿La IPS ha definido un equipo
          de trabajo y un espacio para el
          análisis de los indicadores del
          Sistema?
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <p class="nro">4</p>
        <p align="left">
          ¿Consolidan la información de
          los indicadores como lo exige
          la resolución 256 de 2016?
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <p class="nro">5</p>
        <p align="left">
          ¿Realizan encuestas de
          satisfacción como lo exige la
          norma?
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <p class="nro">6</p>
        <p align="left">
          ¿Cuantas encuestas realizan
          trimestralmente?

        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <p class="nro">7</p>
        <p align="left">
          ¿La IPS reporta la resolución
          256 de 2016 con la periodicidad
          establecida en la norma?
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <p class="nro">8</p>
        <p align="left">
          Acta de apertura del buzón de
          PQR
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <p class="nro">9</p>
        <p align="left">
          La IPS Cuenta con buzón de
          sugerencias (señalización visible
          y clara, formatos PQRS,
          lapicero)
        </p>
        <select name="" id="" class="form-select form-control select">
          <option value="" hidden selected>Selecciona...</option>
          <option value="">Si</option>
          <option value="">No</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>

      <hr>

      <div>
        <div>
          <div class="grid-container-title">
            <p class="sp_title" style="font-weight: bold; text-align: end;">Dominio:</p>
            <p>Nombre Dominio</p>
            <p class="sp_title" style="font-weight: bold; text-align: end;">Indicador:</p>
            <p>Tiempo promedio de espera para la asignación de cita de Ginecología</p>
          </div>
          <hr>
          <div class="grid-container">
            <p class="nro">1</p>
            <p align="left">
              Se ha definido y
              documentado el
              procedimiento para la
              implementación del
              indicador.
            </p>
            <select name="" id="" class="form-select form-control select">
              <option value="" hidden selected>Selecciona...</option>
              <option value="">Si</option>
              <option value="">No</option>
            </select>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <hr>
        </div>
      </div>
    </form>

    <div *ngIf="addInd">
      <div class="container_head" id="indicador">
        <p class="ind_title">Dominio:</p>
        <select class="form-select form-control" name="dom_id" id="dom_id" (change)="cargarIndicadoresByDom()">
          <option hidden selected value="">Selecciona el Dominio...</option>
          <option *ngFor="let dominio of dominio" value="{{dominio.dom_id}}">{{dominio.dom_nombre}}</option>
        </select>

        <p class="ind_title">Indicador:</p>
        <select class="form-select form-control" name="ind_id" id="ind_id">
          <option hidden selected value="">Selecciona el Indicador...</option>
          <option *ngFor="let indicador of indicador" value="{{indicador.ind_id}}">{{indicador.ind_nombre}}</option>
        </select>

        <!-- Agregar -->
        <div class="botones">
          <button (click)="addIndi()" class="btn-dark plus">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <div class="botones">
          <!-- Cerrar -->
          <button (click)="cerrarIndicador()" class="btn-dark plus">
            <i class="fas fa-close"></i>
          </button>

        </div>

      </div>

      <hr>
    </div>

    <div class="grid-boton">
      <button (click)="agregarIndicador()" class="btn-dark plus sp" title="Agregar Indicador"> <span
          class="size_span_plus">
          <i class='fas fa-plus-circle'></i>
        </span>
      </button>
      <p class="add">Agregar Indicador</p>
    </div>
  </div>
</div>

<app-footer></app-footer>