<app-menu></app-menu>

<div class="wrapper">
    <div class="col">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-light esp btn-circle btn-xl" routerLink="/"><i
                        class='fa fa-reply fa-lg'></i></button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <hr class="my-4">
            <h1 class="display-4 text-center">Visita previa resolución 3100 - 2019</h1>
            <hr class="my-4">
            <div class="abs-center">
                <button class="btn btn-dark esp btn-circle btn-xl" title="Informes Realizados" routerLink="/">
                    <i class='fa fa-files-o'></i></button>
                <button class="btn btn-dark esp btn-circle btn-xl" title="Informe" routerLink="/lista-verificacion">
                    <i class='fa fa-file-text fa-lg'></i></button>
                <button class="btn btn-dark esp btn-circle btn-xl" title="Evaluación Estandares" routerLink="/home-estandar">
                    <i class='fa fa-check-square-o fa-lg'></i></button>
            </div>
        </div>
    </div>
</div>
<!--Fin Div Container-->

<app-footer></app-footer>