<app-menu></app-menu>

<div class="col">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-light esp btn-circle btn-xl" routerLink="/sp/home-evaluacion-ips">
                <i class="fa fa-reply fa-lg"></i>
            </button>
        </div>
        <div class="col-md-8">

            <h1 class="text-center">PROGRAMA DE SEGURIDAD DEL PACIENTE
                ACTA DE VERIFICACIÓN Y SEGUIMIENTO
            </h1>
        </div>
    </div>
</div>
<div class="t2">
    <h2>1. EVALUACION DE HERRAMIENTAS PARA LA IDENTIFICACIÓN Y GESTIÓN DE EVENTOS ADVERSO
    </h2>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h5><b>Prestador:</b></h5>
                    <span id="nombre-prestador"></span>
                </div>
                <div class="col-sm-7"></div>
            </div>
        </div>

        <div class="table-title-sub">
            <span class="title-item">PLANEACIÓN</span>
        </div>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Calificacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>La organización cuenta con un documento donde se describen entre otros, los riesgos
                        identificados de los procesos, el sistema de clasificación, las características del sistema de
                        reporte, como se realiza la gestión, manejo de la lección aprendida, establecimiento de barreras
                        de seguridad, cuales procesos inseguros deberán ser rediseñados, el apoyo institucional a las
                        acciones de mejoramiento y los mecanismos de búsqueda activa de los eventos adversos.</td>
                    <!-- <tr *ngFor="let criterio of criterioEstandar; let i = index"> -->
                    <!-- <td>{{i+1}} </td>
                    <td>{{criterio.crie_nombre}}</td> -->
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                        <!-- <button class="btn btn-outline-dark"
                            [class.btn-success]="sharedService.criteriosGuardados.includes(criterio.crie_id)"
                            (click)="openModal(modalTemplate, criterio.crie_id)">
                            <i class='fa fa-check'></i>
                        </button> -->
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>La organización cuenta con un documento donde se describen entre otros, los riesgos
                        identificados de los procesos, el sistema de clasificación, las características del sistema de
                        reporte, como se realiza la gestión, manejo de la lección aprendida, establecimiento de barreras
                        de seguridad, cuales procesos inseguros deberán ser rediseñados, el apoyo institucional a las
                        acciones de mejoramiento y los mecanismos de búsqueda activa de los eventos adversos.</td>
                    <!-- <tr *ngFor="let criterio of criterioEstandar; let i = index"> -->
                    <!-- <td>{{i+1}} </td>
                    <td>{{criterio.crie_nombre}}</td> -->
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                        <!-- <button class="btn btn-outline-dark"
                            [class.btn-success]="sharedService.criteriosGuardados.includes(criterio.crie_id)"
                            (click)="openModal(modalTemplate, criterio.crie_id)">
                            <i class='fa fa-check'></i>
                        </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>

        <div class="table-title-sub">
            <span class="title-item">IMPLEMENTACIÓN</span>
        </div>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Calificacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>La organización cuenta con un documento donde se describen entre otros, los riesgos
                        identificados de los procesos, el sistema de clasificación, las características del sistema de
                        reporte, como se realiza la gestión, manejo de la lección aprendida, establecimiento de barreras
                        de seguridad, cuales procesos inseguros deberán ser rediseñados, el apoyo institucional a las
                        acciones de mejoramiento y los mecanismos de búsqueda activa de los eventos adversos.</td>
                    <!-- <tr *ngFor="let criterio of criterioEstandar; let i = index"> -->
                    <!-- <td>{{i+1}} </td>
                    <td>{{criterio.crie_nombre}}</td> -->
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                        <!-- <button class="btn btn-outline-dark"
                            [class.btn-success]="sharedService.criteriosGuardados.includes(criterio.crie_id)"
                            (click)="openModal(modalTemplate, criterio.crie_id)">
                            <i class='fa fa-check'></i>
                        </button> -->
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>La organización cuenta con un documento donde se describen entre otros, los riesgos
                        identificados de los procesos, el sistema de clasificación, las características del sistema de
                        reporte, como se realiza la gestión, manejo de la lección aprendida, establecimiento de barreras
                        de seguridad, cuales procesos inseguros deberán ser rediseñados, el apoyo institucional a las
                        acciones de mejoramiento y los mecanismos de búsqueda activa de los eventos adversos.</td>
                    <!-- <tr *ngFor="let criterio of criterioEstandar; let i = index"> -->
                    <!-- <td>{{i+1}} </td>
                    <td>{{criterio.crie_nombre}}</td> -->
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                        <!-- <button class="btn btn-outline-dark"
                            [class.btn-success]="sharedService.criteriosGuardados.includes(criterio.crie_id)"
                            (click)="openModal(modalTemplate, criterio.crie_id)">
                            <i class='fa fa-check'></i>
                        </button> -->
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>La organización ha definido una política de seguridad de la paciente alineada con el
                        direccionamiento estratégico </td>
                    <!-- <tr *ngFor="let criterio of criterioEstandar; let i = index"> -->
                    <!-- <td>{{i+1}} </td>
                    <td>{{criterio.crie_nombre}}</td> -->
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                        <!-- <button class="btn btn-outline-dark"
                            [class.btn-success]="sharedService.criteriosGuardados.includes(criterio.crie_id)"
                            (click)="openModal(modalTemplate, criterio.crie_id)">
                            <i class='fa fa-check'></i>
                        </button> -->
                    </td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>La organización cuenta con un documento donde se describen entre otros, los riesgos
                        identificados de los procesos, el sistema de clasificación, las características del sistema de
                        reporte, como se realiza la gestión, manejo de la lección aprendida, establecimiento de barreras
                        de seguridad, cuales procesos inseguros deberán ser rediseñados, el apoyo institucional a las
                        acciones de mejoramiento y los mecanismos de búsqueda activa de los eventos adversos.</td>
                    <!-- <tr *ngFor="let criterio of criterioEstandar; let i = index"> -->
                    <!-- <td>{{i+1}} </td>
                    <td>{{criterio.crie_nombre}}</td> -->
                    <td>
                        <button class="btn btn-outline-dark">
                            <i class='fa fa-check'></i>
                        </button>
                        <!-- <button class="btn btn-outline-dark"
                            [class.btn-success]="sharedService.criteriosGuardados.includes(criterio.crie_id)"
                            (click)="openModal(modalTemplate, criterio.crie_id)">
                            <i class='fa fa-check'></i>
                        </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <ng-template #modalTemplate>
            <app-modalsic [dataFromParent]="modalRef"></app-modalsic>
        </ng-template> -->

        <button id="boton-acta-sp-ips" class="btn btn-dark esp btn-circle btn-xl" title="Guardar" type="submit">
            <i class='fa fa-file'></i>
        </button>

    </div>
</div>

<app-footer></app-footer>