<app-menu></app-menu>

    <div class="wrapper">
        <button class="btn btn-light esp btn-circle btn-xl" routerLink="/"><i class='fa fa-reply fa-lg'></i></button>
        <div class="container">
            <div class="jumbotron">
                <hr class="my-4">
                <h1 class="display-4 text-center">Programa de auditoria para el mejoramiento de la calidad</h1>
                <hr class="my-4">
                <div class="abs-center">
                    <button class="btn btn-dark esp btn-circle btn-xl" routerLink="/pamec/evaluaciones" title="Evaluaciónes Realizadas"><i
                            class='fas fa-clipboard-list fa-lg'></i></button>
                    <button class="btn btn-dark esp btn-circle btn-xl" title="Evaluación" routerLink="/pamec/acta">
                        <i class='fa fa-file-text fa-lg'></i></button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Div Container-->

<app-footer></app-footer>